body,
ul,
li,
h1,
h2,
a,
button {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #DB008B;
}

.speaker-header h1,
.workshop-header h1,
.location-header h1,
.sponsor-header h1,
.learn-header h1,
.newsletters h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 3.5em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 34px;
}

.speaker-header p,
.workshop-header p,
.location-header p,
.sponsor-header p,
.learn-header p {
    font-size: 1.4em;
    font-weight: 300;
    text-align: center;
    max-width: 960px;
    margin-bottom: 25px;
}

.speaker-header,
.workshop-header,
.location-header,
.sponsor-header,
.learn-header {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.bg-banner {
    background: #1b1b1b url('/images/bg.png') no-repeat left top;
    background-attachment: fixed;    
}

.bg-speaker{
    background: url('/images/bg-pink.png') no-repeat left top;
    background-attachment: fixed; 
}

nav {
    padding: 1.5em;
}

nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0 65px;
}

nav li {
    list-style-type: none;
}

nav a {
    font-weight: 400;
    text-decoration: none;
    color: #1b1b1b;
}

nav a:hover {
    color: #DB008B;
}

.main-container {
    width: 100%;
    margin: 0 auto;
}

.banner {
    /* background: #141414; */
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1900px;
    height: 735px;
    margin-bottom: 50px;
}

.banner img {
    max-width: 585px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.banner p {
    max-width: 692px;
    font-size: 1.4em;
    line-height: 1.7em;
    color: white;
    text-align: center;
}

.banner button {
    background-color: #DB008B;
    border: none #DB008B;
    border-style: outset;
    border-radius: 7px;
    font-size: 1.3em;
    color: white;
    padding: 20px 20px;
    width: 700px;
    margin: 15px 0;

}

.speakers,
.workshops,
.locations,
.sponsors,
.learns {
    margin-bottom: 65px;
    padding: 0 25px;
}

/* .speaker-main p{
    font-size: 1.4em;
    font-weight: 300;
    text-align: center;
    max-width: 950px;
    margin-bottom: 25px;
} */

.speaker-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 960px;
    position: relative;
    margin: 0 auto;
}

.speaker-item img {
    width: 100%;
}

.speaker-item img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}


.speaker-item h1 {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin: 5px 0;
}

.speaker-item p {
    padding: 0 25px;
    text-align: center;
    font-weight: 300;
    margin: 0;
}

.line {
    border-bottom: solid #cccccc 1px;
    margin-bottom: 120px;
}

.workshop-container,
.location-container {
    display: grid;
    grid-gap: 20px;
    max-width: 960px;
    position: relative;
    /* ใส่ relative เพื่อให้จัดกลางได้*/
    margin: 0 auto;
}

.workshop-container {
    grid-template-columns: repeat(3, 1fr);
}

.location-container {
    grid-template-columns: repeat(2, 1fr);
}

.location-item h1 {
    font-size: 1.1em;
    font-weight: bold;
    margin: 5px 0;
}

.location-item p {
    font-size: 1.2em;
    font-weight: 300;
}

.sponsor-item h4 {
    text-align: center;
    margin-top: 110px;
}

.silver-sponsor,
.platinum-sponsor,
.community-sponsor,
.media-sponsor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    max-width: 960px;
    position: relative;
    margin: 0 auto;
}

.platinum-sponsor,
.silver-sponsor {
    grid-template-columns: repeat(2, 1fr);
}

.community-sponsor {
    grid-template-columns: repeat(4, 1fr);
}

.media-sponsor {
    grid-template-columns: repeat(5, 1fr);
}

.platinum-sponsor img,
.silver-sponsor img,
.community-sponsor img,
.media-sponsor img,
.workshop-item img,
.location-item img {
    width: 100%;
}

.learn-container {
    max-width: 600px;
    margin: 0 auto;
}

.learn-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    width: 100%;
}

.learn-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.newsletters {
    display: flex;
    flex-flow: column;
    align-items: center;
    border-top: solid #cccccc 1px;
    background-color: #f7f7f7;
    width: 100%;
}

.newsletters h1 {
    margin-top: 100px;
}

.newsletters p {
    text-align: center;
    font-size: 1.3em;
    max-width: 720px;
}

.newsletters button {
    background-color: rgba(0, 0, 0, 0.75);
    border: none;
    border-radius: 9px;
    padding: 25px;
    width: 700px;
    font-size: 1.5em;
    color: white;
    margin-top: 15px;
    margin-bottom: 65px;
}

footer {
    font-size: 1em;
    text-align: center;
    line-height: 2em;
    margin: 50px 0;
}


@media (min-width: 768px) and (max-width: 991.98px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        font-weight: 400;
        text-decoration: none;
        line-height: 36px;
        color: #1b1b1b;
    }

    .workshop-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .workshop-item {
        flex: 0 0 calc(36.6% - 20px);
        padding: 5px 7px;
    }

    .workshop-item img {
        width: 320px;
        height: 223px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        font-weight: 400;
        text-decoration: none;
        line-height: 36px;
        color: #1b1b1b;
    }

    .banner img {
        width: 88%;
    }

    .banner p {
        padding: 0 15px;
    }

    .banner button {
        width: 90%;
    }

    .speaker-header p,
    .workshop-header p,
    .location-header p,
    .sponsor-header p,
    .learn-header p,
    .newsletters p {
        font-size: 0.99em;
    }

    .speaker-container {
        display: flex;
        flex-direction: column;
        padding: 0 80px;
    }

    .speaker-item h1 {
        padding-top: 15px;
        margin: 0;
    }

    .speaker-item p {
        padding-bottom: 20px;
    }

    .speaker-item img {
        width: 100%;
    }

    .workshop-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .workshop-item {
        flex: 0 0 calc(45.6% - 20px);
        padding: 5px 7px;
    }


    .location-container {
        display: flex;
        flex-direction: column;
    }

    .location-item h1 {
        margin-top: 20px;
    }

    .location-item p {
        font-size: 1em;
    }

    .silver-sponsor,
    .platinum-sponsor,
    .community-sponsor,
    .media-sponsor {
        padding: 0 60px;
    }

    .silver-sponsor {
        grid-template-columns: repeat(1, 1fr);
        width: 45%;
    }

    .community-sponsor {
        grid-template-columns: repeat(2, 1fr);
    }

    .media-sponsor {
        grid-template-columns: repeat(2, 1fr);
    }

    .newsletters button {
        width: 90%;
    }

    .newsletters p {
        padding: 0 25px;
    }

    footer {
        font-size: 0.9em;
        padding: 0 20px;
    }
}

@media (max-width: 575.98px) {

    .speaker-header h1,
    .workshop-header h1,
    .location-header h1,
    .sponsor-header h1,
    .learn-header h1,
    .newsletters h1 {
        font-size: 3em;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        font-weight: 400;
        text-decoration: none;
        line-height: 36px;
        color: #1b1b1b;
    }

    .banner img {
        width: 88%;
    }

    .banner p {
        padding: 0 15px;
    }

    .banner button {
        width: 90%;
    }

    .speaker-header p,
    .workshop-header p,
    .location-header p,
    .sponsor-header p,
    .learn-header p,
    .newsletters p {
        font-size: 0.99em;
    }

    .speaker-container {
        display: flex;
        flex-direction: column;
        padding: 0 90px;
    }

    .speaker-item h1 {
        padding-top: 15px;
        margin: 0;
    }

    .speaker-item p {
        padding-bottom: 20px;
    }

    .workshop-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .workshop-item {
        padding: 5px 15px;
    }

    .workshop-item img {
        width: 320px;
        height: 223px;
    }

    .location-container {
        display: flex;
        flex-direction: column;
    }

    .location-item h1 {
        margin-top: 20px;
    }

    .location-item p {
        font-size: 1em;
        line-height: 1.5em;
    }

    .silver-sponsor,
    .platinum-sponsor,
    .community-sponsor,
    .media-sponsor {
        padding: 0 75px;
    }

    .silver-sponsor {
        grid-template-columns: repeat(1, 1fr);
        width: 45%;
    }

    .community-sponsor {
        grid-template-columns: repeat(2, 1fr);
    }

    .media-sponsor {
        grid-template-columns: repeat(2, 1fr);
    }

    .newsletters button {
        width: 90%;
    }


    .line {
        margin-bottom: 60px;
    }
}